# Template pour l'équipe
DATABASE_URL="postgresql://USER:Pass123$@localhost:5432/academiadb?schema=public"
BETTER_AUTH_URL=https://192.43.9.55
BETTER_AUTH_SECRET=
NEXT_PUBLIC_APP_URL=https://192.43.9.55
NEXT_PUBLIC_GEMINI_API_KEY=

# Google OAuth (https://console.cloud.google.com)
# Callback: <NEXT_PUBLIC_APP_URL>/api/auth/callback/google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth (https://github.com/settings/developers)
# Callback: <NEXT_PUBLIC_APP_URL>/api/auth/callback/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
